In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv('experiment_results/experiment_results_5day_20251203_004806.csv')

In [15]:
df.head()

,experiment_id,csv_file,model_type,hidden_size,num_layers,batch_size,learning_rate,random_noise,epochs,window_size,mse,mae,rmse,mape,train_months,test_month
0,1,CVRE2407,lstm,32,1,8,NaN,0.0010,True,10,1.471913,1.307569,1.471913,19.506233,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
1,2,CVRE2407,lstm,32,1,8,NaN,0.0010,False,10,1.453667,1.293851,1.453667,19.319109,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
2,3,CVRE2407,lstm,32,1,8,NaN,0.0002,True,15,1.433785,1.280722,1.433785,19.158562,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
3,4,CVRE2407,lstm,32,1,8,NaN,0.0002,False,15,1.458281,1.300129,1.458281,19.430033,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
4,5,CVRE2407,lstm,32,1,16,NaN,0.0010,True,10,1.427314,1.275110,1.427314,19.074671,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07

In [ ]:
# Get top 3 configs with lowest MAPE for each model_type
top3_per_model = df.sort_values('mape').groupby('model_type', 'csv_file').head(3)
top3_per_model

,experiment_id,csv_file,model_type,hidden_size,num_layers,batch_size,learning_rate,random_noise,epochs,window_size,mse,mae,rmse,mape,train_months,test_month
572,573,CSTB2410,gru,64,2,32,NaN,0.0010,True,10,0.259164,0.223135,0.259164,5.809943,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
573,574,CSTB2410,gru,64,2,32,NaN,0.0010,False,10,0.262692,0.224327,0.262692,5.826929,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
500,501,CSTB2410,lstm,64,2,32,NaN,0.0010,True,10,0.318391,0.243379,0.318391,6.188952,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
501,502,CSTB2410,lstm,64,2,32,NaN,0.0010,False,10,0.335028,0.252678,0.335028,6.405648,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
561,562,CSTB2410,gru,64,1,32,NaN,0.0010,False,10,0.333410,0.254352,0.333410,6.458781,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
476,477,CSTB2410,lstm,48,2,32,NaN,0.0010,True,10,0.336611,0.255580,0.336611,6.491731,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
613,614,CSTB2410,rnn,48,2,8,NaN,0.0010,False,10,0.414775,0.339605,0.414775,8.680731,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
418,419,CMSN2406,rnn,64,1,32,NaN,0.0002,True,15,0.129157,0.091789,0.129157,9.660718,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07
419,420,CMSN2406,rnn,64,1,32,NaN,0.0002,False,15,0.131656,0.094041,0.131656,9.906765,2024-12;2025-01;2025-02;2025-03;2025-04;2025-0...,2025-07